$color-white: #ffffff;
$color-blue: #0081f6;
$color-orange: #eb4f1e;

$breakpoint-mobile-min: 320px;
$breakpoint-mobile-max: 767.9px;

$breakpoint-tablet-min: 768px;
$breakpoint-tablet-max: 1023.9px;

$breakpoint-desktop-min: 1024px;
$breakpoint-desktop-max: 1279.9px;